In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('time_series.csv')

In [10]:
df.head()

         date      AAPL     MSFT
0  2015-01-02  101.9635  42.5999
1  2015-01-05   99.0910  42.2036
2  2015-01-06   99.1003  41.5886
3  2015-01-07  100.4899  42.1170
4  2015-01-08  104.3510  43.3560

In [11]:
df['AAPL']

0       101.9635
1        99.0910
2        99.1003
3       100.4899
4       104.3510
          ...
1001    146.8300
1002    157.1700
1003    156.1500
1004    156.2300
1005    157.7400
Name: AAPL, Length: 1006, dtype: float64